filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /tmp/streaming_movies/movies_data.log
  json.keys_under_root: true  # Lit le JSON directement
  json.add_error_key: true

output.kafka:
  hosts: ["localhost:9092"]
  topic: "movielens_ratings"
  partition.round_robin:
    reachable_only: false
  required_acks: 1
